.Slogan_Flex_Box_Container{
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    color: rgb(35, 47, 62);
    margin-left: -20px;
    font-family: dinneuzeitgroteskltw01-_812426,sans-serif;
    font-size: 48px;
   
}


.Slogan_Flex_Box_Container2{
    display: flex;
    justify-content: center;
    color: rgb(35, 47, 62);
    font-family: dinneuzeitgroteskltw01-_812426,sans-serif;
    font-size: 48px;
   
}

@media screen and (max-width: 768px){
    .Slogan_Flex_Box_Container{
        display: flex;
        justify-content: center;
         font-size: 30px;
         margin-left: -5px;
         margin-top: -10px;
    }

    .Slogan_Flex_Box_Container2{
        display: flex;
        justify-content: center;
         font-size: 30px;
         
         margin-top: -10px
       
    }
}