* {
	margin: 0;
	padding: 0;
}

.loader {
	display: flex;
	justify-content: center;
	background-color: #ffff;
	height: 200px;
	width: 200px;
    margin-left: 45%;
	margin-top: 200px;
}


@media screen and (max-width: 768px) {


	.dude{
		margin-left: 120px;
	}
	.loader {
	display: flex;
	justify-content: center;
	margin-left: -10px;
	margin-right: -100px;
	}
}



