.home-buttons-container {
  border: 1px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  margin-left: 25%;
  margin-bottom: 30px;
  margin-top: 25px;
}

.Welcome {
  display: flex;
  justify-content: center;
  font-size: 45px;
  
}

.Flexbox_Fee {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
}

.artwork {
  background-color: grey;
  height: 400px;
  width: 150px;
  margin: 50px;
  text-decoration: none;
}

h1 {
  color: rgb(179, 21, 158);

  font-weight: 900;
  margin-left: 25px;
  margin-bottom: 300px;
}

.slogan1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(14, 14, 14);
  margin-top: 50px;
}

.slogan1,
h1 {
  color: black;
}
.ledgerDiv {
  display: flex;
  justify-content: center;
  margin-right: 25px;
}
.pitch {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  margin-top: -300px;
  margin-bottom: 300px;
}
.p_container {
  display: flex;
  justify-content: center;
  flex: wrap;
}
.p_container,
.paragraph {
  margin-top: 70px;
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  .hr {
    margin-top: 45px;
  }
  .home_button_div{
    margin-left: 18px;
  }

  .ledgerDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    
  }

  .Flexbox_Fee {
    display: flex;
    justify-content: center;
  }

  .btn1{

    margin-right: 200px;
  }

  #hiddenButtons {
    display: none;
  }

  #OriginalLogo {
    display: none;
  }

  .home-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding: 0px;
  }

  #artwork {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .Welcome {
    display: flex;
    justify-content: center;
  }

  h1 {
    display: flex;
    justify-content: center;
  }
}
