.Welcome_Flex_Box_Container, h1{
  
    font-size: 87px;
    font-family: sans-serif;
    
}
@media screen and (max-width: 768px) {
    .Welcome_Flex_Box_Container, h1{
        font-size: 35px;
        display: flex;
        justify-content: center;
        font-family: dinneuzeitgroteskltw01-_812426,sans-serif;
        margin-bottom: 30px;
    }
}   