#Bio {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    margin-bottom: 100px;
    /* border: solid rgb(207, 207, 207);
    border-radius: 20px;
    padding: 20px;
    background-color:rgb(219, 240, 233); */
}

#LogOut{
    color: #ffff;
    background-color: rgb(255, 145, 0);
    font-size: 15px;
    height: 50px;
    margin-bottom: 50px;
}

#LogOut:hover {
    background: rgb(55, 71, 90);
    color:rgb(255, 255, 255);
    transition: 250ms;
}


#paper {
    border: none;
    box-shadow: none;
    background-color: rgba(252, 252, 252, 0);
}




@media screen and (max-width: 768px) {
    #av{
        background-color: rgb(55, 71, 90);
        color: rgb(250, 162, 0);
        height: 130px;
        width: 130px;
        padding-top: 15px;
        cursor: pointer;
    }

    #paper{
        margin-bottom: 200px;
    }
    
}