#avatar {
    background-color: rgb(55, 71, 90);
    color: rgb(250, 162, 0)
}

#paper {
    border-radius: 30px;
    box-shadow: 8px 8px 4px -4px gray;
 }

 #register_login_buttons {
    color: #ffff;
    background-color: rgb(255, 145, 0);
    height: 50px;
    font-size: 15px;
}

#register_login_buttons:hover {
    background: rgb(55, 71, 90);
    color:rgb(255, 255, 255);
    transition: 250ms;
}
